<launch>
    
    <node pkg="rosTemplate" type="my_python_script.py" name="send_coordinates_node" output="screen">
        
    </node>

    <!-- We start the launch file -->
    <include file="$(find rosTemplate)/launch/launch_file.launch"></include>

    <!-- We start the rviz config-->
    <group if="$(arg launch_rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rosTemplate)/rviz/name.rviz"/>
    </group>


</launch>