<launch>

    <arg name="output" default="screen" doc="Output display"/>
    <arg name="param_file_name" default="default" doc="Specify a param file"/>
    <arg name="req" default="true"/>

    <!-- purepursuit_movement.launch has the optitrack stuff in it-->
    <include file="$(find purepursuit)/launch/purepursuit_movement.launch" />

    <node pkg="multiplexor" type="multiplexor_node.py" name="multiplexor"
          output="$(arg output)" required="$(arg req)"/>
          
    <node pkg="stop_behavior" type="stop_behavior_node.py" name="stop_behavior" output="$(arg output)" launch-prefix="xterm -e">
        <rosparam command="load" file="$(find stop_behavior)/config/stop_behavior.yaml" />

    <node pkg="yield_behavior" type="yield_behavior_node.py" name="yield_behavior" output="$(arg output)" >
        <rosparam command="load" file="$(find yield_behavior)/config/yield_behavior.yaml" />
    
</launch>