<launch>
    <arg name="rviz" default="False"/>
    <arg name="output" default="screen" doc="Output display"/>
    <arg name="param_file_name" default="default" doc="Specify a param file"/>
    <arg name="req" default="true"/>

	<!-- vrpn arguments-->
    <arg name="server" default="192.168.0.222"/>
    <arg name="port" default="3883"/>
    <arg name="ip" default="vicon"/>
    <arg name="frameName" default="SDC"/>

    <group if="$(arg rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find purepursuit)/launch/rviz/rviz_config.rviz"/>
    </group>

    <!-- publish external pose received from optitrack -->
    <node name="currentpose" pkg="purepursuit" type="publish_external_pose_vrpn.py" output="screen">
	<param name="topic" value="/vrpn_client_node/SDC/pose"/>
    </node>


    <!-- node for getting location and putting it in a file" -->
    <node name="pose_writer" pkg="purepursuit" type="pose_writer.py">
	<param name="topic" value="/pose_writer"/>
    </node>
	

    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 $(arg frameName) /SDC/base_link 100" />

    <!-- Run vrpn client -->
    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
        <rosparam subst_value="true">
            server: $(arg server)
            port: $(arg port)
            update_frequency: 100.0
            frame1_id: world
            # Use the VRPN server's time, or the client's ROS time.
            use_server_time: false
            broadcast_tf: true
            # Must either specify refresh frequency > 0.0, or a list of trackers to create
            refresh_tracker_frequency: 1.0
            #trackers:
            #- FirstTracker
            #- SecondTracker
        </rosparam>
    </node>
</launch>
